<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Profile | TheStrete</title>
</head>
<body>
    <div class="wrapper">
        <div class="user-content">
            <h2><%=current_user.first_name%> <%=current_user.last_name%></h2>
            <p>Phone: <%=current_user.phone%></p>
            <p>Email: <%=current_user.email%></p>
            <a href="">Edit Profile</a>
        </div>
        <div class="comm-liked">
            <h3>Communities Liked:</h3>
            <%if @user.communities_liked.exists? %>
            <%@user.communities_liked.each do |community|%>
                    <p><%=community.community%></p>
            <%end%>
            <%else%>
                    <p>You haven't liked any <a href="/homes/show">communities</a> yet!</p>
            <%end%>
        </div>
    </div>
</body>
</html>