<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheStrete | Communities</title>
</head>
<body>
    <div class="wrapper">
        <div class="show-info">
            
        </div>
        <div class="display">
            <h3>Displaying <%=@home.count%> communities</h3>
        </div>
        <div class="dallas-homes">
            <%@home.each do |h|%>
            <div class="home-div">
                <h3><%=h.community%></h3>
                <%= image_tag("coming_soon.png") %>
                <p><%=h.price%></p>
                <p><%=h.location%></p>
            </div>
            <%end%>
        </div>
    </div>
</body>
</html>