<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheStrete | Communities</title>
</head>
<body>
    <div class="wrapper">
        <div class="show-info">
        <%= image_tag("new_home_dallas_banner.jpg") %>
    
        </div>
        <div class="display">
            <h3>Displaying <%=@home.count%> communities</h3>
        </div>
        <div class="dallas-homes">
            <%@home.each do |h|%>
            <div class="home-div">
                <h3><%=h.community%></h3>
                <%= image_tag("coming_soon.png") %>
                <p><%=h.price%></p>
                <p><%=h.location%></p>
                <% if is_logged_in %>
                    <% if current_user.communities_liked.exists?(h.id) %>
                        <form action="/likes/<%= h.id %>" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="Unlike">
                        </form>  
                    <% else %> 
                        <form action="/likes" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="hidden" name="community_id" value="<%=h.id%>">
                            <input type="submit" value="Like">
                        </form>
                    <% end %>   
                <% else %>    
                <h5>Please <a href="/users">login or register</a> to Like this community!</h5>
                <% end %>     
            </div>
            <%end%>
        </div>
    </div>
</body>
</html>